.headline__image {
  flex: 0.2;
}
.headline__image-placeholder {
  flex: 0.2;
}
.headline__content {
  position: relative;
  margin-top: 5px;
  flex: 0.8;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  top: 0;
  padding: 5px;
}
.headline__content a {
  text-decoration: none;
}
.logo-image {
  height: 200px;
  object-fit: contain;
  z-index: 1;
  opacity: 0.2;
  position: absolute;
  right: 0;
}
.news__author {
  font-size: smaller;
  font-style: italic;
}
.headline__title {
  color: rgb(7, 7, 7);
  margin-bottom: 5px;
  font-family: "Gill Sans";
}

.headline__title:hover {
  color: rgb(25, 125, 240);
}
.headline__title__toggle:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 500px) {
  .headline {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .logo-image {
    display: none;
  }
}
