.app__body{
  background-color: rgb(253, 246, 239);
  padding: 10px;
  height: 100vh;
  overflow-y: scroll;
}
.app-dark{
  background-color: rgb(6, 38, 85);
}
.app__switch{
  margin-left: 80%;
}
@media(min-width: 400px){
  .app__switch{
    margin-left: 82%;
  }
}
@media(min-width: 500px){
  .app__switch{
    margin-left: 85%;
  }
}
@media(min-width: 650px){
  .app__switch{
    margin-left: 88%;
  }
}
@media(min-width: 800px){
  .app__switch{
    margin-left: 90%;
  }
}
@media(min-width: 950px){
  .app__switch{
    margin-left: 92%;
  }
}
@media(min-width: 1024px){
  .app__switch{
    margin-left: 95%;
  }
}