.app__body {
  background-color: #1f2937;
  background-size: cover;
  padding: 15px;
  padding-bottom: 80px;
  min-height: 100vh;
}
.app-dark {
  background-color: rgb(6, 38, 85);
}
.input__search {
  display: flex;
  align-items: center;
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 5;
  padding: 5px;
}
.input__search.active {
  top: 0;
  left: 0;
  padding: 15px;
  transition: 500ms ease-in-out;
  backdrop-filter: blur(20px);
}
.news__input {
  width: 250px;
  border-top-left-radius: 10px;
  outline-width: 0;
  font-size: 1rem;
  border: none;
  padding: 10px;

  background: rgb(26, 244, 122);
  background: linear-gradient(
    180deg,
    rgba(26, 244, 122, 1) 0%,
    rgba(90, 237, 182, 1) 46%,
    rgba(8, 156, 255, 1) 100%
  );
  color: black;
}
.search-icon {
  background: rgb(26, 244, 122);
  background: linear-gradient(
    180deg,
    rgba(26, 244, 122, 1) 0%,
    rgba(90, 237, 182, 1) 46%,
    rgba(8, 156, 255, 1) 100%
  );
  padding: 11px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}
.search-icon:hover {
  opacity: 0.6;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111827;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #ef4444 75%,
    #b91c1c 100%
  );
  border-radius: 10px;
  transition: color ease 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: color ease 0.5s;
  background: #b91c1c;
}
@media (max-width: 768px) {
  .input__search {
    top: -100%;
    width: 100vw;
    left: 0;
  }
}
@media (max-width: 425px) {
  .news__input {
    width: 220px;
    font-size: 0.9rem;
  }
  .search-icon {
    font-size: 0.9rem;
  }
}
