@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.header{
  position: sticky;
  /* background-color: rgb(235, 235, 231);  */

  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: transparent;
  background: transparent;
}
.header-logo{
  width: 200px;
  object-fit: contain;
}
.header__toggle{
  background-color: rgba(11, 6, 29, 0.89);
  color: white;
}
.header__title{
  text-align: center;
  font-family: 'Righteous', cursive;
  color: rgb(248, 128, 29);
  text-shadow: 5px 5px 2px 2px rgb(99, 99, 211);
}
.scrolling{
  /* background-color: rgba(137, 188, 223, 0.103); */
  backdrop-filter: blur(10px);
}
@media(max-width: 550px){
  .header{
    height: 30px;
    font-size: small;
  }
}