.header{
  position: sticky;
  background-color: rgb(235, 235, 231); 
  color: rgb(24, 23, 23);
  top: 0px;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.header-logo{
  width: 200px;
  object-fit: contain;
}
.header__toggle{
  background-color: rgba(11, 6, 29, 0.918);
  color: white;
}
.header > h1{
  text-align: center;
}
@media(max-width: 550px){
  .header{
    height: 30px;
    font-size: small;
  }
}