.headline{
  display: flex;
  padding: 8px;
  box-shadow: 2px 2px 1px 2px rgb(37, 149, 201);
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 2px;
  border-right: 0.75px solid #000;
  border-bottom: 0.75px solid #000;
  position: relative;
}
.headline__toggle{
  background-color: rgb(93, 102, 235);
}
.headline:nth-last-of-type(1){
  margin-bottom: 0px;
}
.headline:nth-child(1){
  margin-top: 20vh;
}
.headline:nth-child(odd){
  background-color: rgb(227, 227, 228);
  box-shadow: 2px 2px 1px 2px rgb(39, 211, 168);
}
.headline__toggle:nth-child(odd){
  background-color: rgb(12, 162, 182);
}
.headline__image{
  margin: auto;
  height: 200px;
  width: 200px;
  flex: 0.2;
  object-fit: cover;
  border-radius: 5px;
}
.headline__content{
  position: relative;
  margin-top: 5px;
  flex: 0.8;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  top: 0;
  padding: 5px;
}
.headline__content a{
  text-decoration: none;
}
.logo-image{
  height: 200px;
  object-fit: contain;
  z-index: 1;
  opacity: 0.2;
  position: absolute;
  right: 0;
}
.news__author{
  font-size: smaller;
  font-style: italic;
}
.headline__title{
  color: rgb(7, 7, 7);
  margin-bottom: 5px;
  font-family: 'Gill Sans';
}

.headline__title:hover{
  color: rgb(25, 125, 240);
}
.headline__title__toggle:hover{
  color: rgb(255, 255, 255);
}
.news__desc{
  margin-top: 20px;
  font-weight: 500;
  font-size: larger;
}
/*.toggled{
  color: #fff;
}*/
@media(max-width: 500px){
  .headline{
    flex-direction: column;
    margin-bottom: 10px;
  }
  .logo-image{
    opacity: 0;
  }
}